
- name: Add Apache Cassandra repository
  yum_repository:
    name: cassandra
    description: Apache Cassandra repository
    baseurl: https://www.apache.org/dist/cassandra/redhat/311x/
    enabled: yes
    gpgcheck: 1
    repo_gpgcheck: 1
    gpgkey: https://www.apache.org/dist/cassandra/KEYS

- name: Install the latest version of Apache Cassandra
  yum:
    name: cassandra
    state: latest 

- name: Clone cassandra driver
  git:
    repo: https://github.com/datastax/cpp-driver.git
    dest: /opt/cassandra-driver
    version: 2.11.0
    
- file:
    path: /opt/cassandra-driver/build
    state: directory

- name: Run cmake3
  cmake: 
    source_dir: /opt/cassandra-driver
    binary_dir: /opt/cassandra-driver/build
    target: install
    build_type: Release
    executable: /usr/bin/cmake3

# COPY CONFIG FOR CASSANDRA SHOULD COME HERE.
#- name: Copy cassandra conf file
#  copy:
#    src: etc/cassandra/cassandra.yml
#    dest: /etc/cassandra/cassandra.yml
#    backup: yes


#- name: Start service cassandra, if not started
#  service:
#    name: cassandra
#    state: started 

# daemon_reload flushes registry.
- systemd:  name=cassandra enabled=no daemon_reload=yes
- systemd:  name=cassandra enabled=yes
- systemd:  name=cassandra state=restarted 

