<!doctype html>
<title>{% block title %}{% endblock %}DAQ Configuration</title>
<link rel="stylesheet" href="{{ url_for('static', filename='assets/stylesheets/spectre.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='assets/stylesheets/spectre-icons.min.css') }}">
<link rel="shortcut icon" href="#" />
<nav>
  <a id="newModulePage" href="{{ url_for('input.editModule') }}" style="display:none"></a>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
</header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>
