- name: Install packages
  yum:
    name: "{{ packages }}"
  vars:
    packages:
    - git
    - vim
    - wget
    - cmake3
    - mlocate
    - graphviz
    - python36-pip

- name: Updatedb
  shell: updatedb
